<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./css/style.css">
    <script src="/js/app.js"></script>
     <link rel="icon" href="/weather.png">
</head>
<body>
    <div class="main-content">
    {{>header}}
    <p>For any help contact {{name}}</p>
    </div>
        
        {{>footer}}
</body>
</html>